<!-- intégrer du date picker bootstrap dans simple form via gem https://github.com/Eonasdan/bootstrap-datetimepicker -->

<%= simple_form_for [@planning, @slot] do |f| %>
  <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12">
        <!-- creation du tableau -->



      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group button-group">
            <%= f.submit "Valider", class: "mybtn mybtn--medium create_slot" %>
            <%= f.button :button, "Modifier", type: :reset, class: "mybtn mybtn--medium update_slot" %>
            <%= f.button :button, "Cancel", type: :reset, class: "mybtn mybtn--medium cancel-button" %>
            <%= f.button :button, "Supprimer", type: :reset, class: "mybtn mybtn--medium delete_slot" %>

        </div>
      </div>
    </div>
    <% end %>

