<%= simple_form_for [@planning, @solution_slot] do |f| %>
  <%= f.error_notification %>

    <div class="row">
      <div class="col-xs-12">
        <!-- creation du tableau -->
        <% result = @solution_slot.slot.get_infos_to_reaffect_slot %>
        <% slot =  @solution_slot.slot %>
        <% assigned_user =  User.find(slot.get_solution_slot(@planning.chosen_solution).user_id) %>

        <div class="col-xs-12">
        <!-- en-têtes -->
          <div class="row">
            <div class="col-xs-2">
              <b>User</b>
            </div>
            <div class="col-xs-2">
              <b>Skilled?</b>
            </div>
            <div class="col-xs-2">
              <b>Status</b>
            </div>
            <div class="col-xs-2">
              <b>h/day</b>
            </div>
            <div class="col-xs-2">
              <b>h/week</b>
            </div>
            <div class="col-xs-2">
              <b></b>
            </div>
          </div>

          <% result.each do |hash| %>
            <div class="row row-user">
              <div class="col-xs-2">
                 <%= profile_picture(User.find(hash.keys.first)) %>
              </div>
              <div class="col-xs-2">
                <% if hash.values.first[:skilled] == true %>
                  <i class="fa fa-check-circle" style="color: green;"></i>
                <% else %>
                  <i class="fa fa-exclamation-triangle"></i>
                <% end %>
              </div>
              <div class="col-xs-2">
                <!-- button -->
                <%= hash.values.first[:status] %>
              </div>
              <div class="col-xs-2">
                <!-- nb hours day -->
                <%= hash.values.first[:nb_hours_day] %>
              </div>
              <div class="col-xs-2">
                <!-- nb hours week -->
                <%= hash.values.first[:nb_hours_planning] %>
              </div>
              <div class="col-xs-2">
                <!-- reassign -->

                <%= link_to "assign", planning_solution_slot_path(@planning, @solution_slot, user_id: User.find(hash.keys.first).id), method: :patch, class: "mybtn mybtn--medium reassign-solution_slot", id:"#{User.find(hash.keys.first).id}" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

 <% end %>

