<%= simple_form_for [@planning, @solution_slot] do |f| %>
  <%= f.error_notification %>

    <div class="row">
      <div class="col-xs-12">
        <!-- creation du tableau -->
        <b>Employés de l'équipe</b>
        <div class="col-xs-12">
        <!-- en-têtes -->
        <%= render 'solution_slots/edit_header'%>
        <!-- block avec chaque user -->
        <%= render 'solution_slots/edit_content', locals: { users: @users_infos, assigned_user: @assigned_user, planning: @planning, solution_slot: @solution_slot } %>
        </div>
      </div>
    </div>


    <!-- Liste des employés non sélectionnés dans l'équipe -->
    <div data-toggle="collapse" data-target="#demo"><b>Employés hors équipe</b></div>
    <div id="demo" class="collapse">
      <div class="row">
        <div class="col-xs-12">
          <!-- creation du tableau -->
          <div class="col-xs-12">
          <!-- en-têtes -->
          <%= render 'solution_slots/edit_header'%>
          <!-- block avec chaque user -->
          <%= render 'solution_slots/edit_content', locals: { users: @other_users_infos, assigned_user: @assigned_user, planning: @planning, solution_slot: @solution_slot  } %>
          </div>
        </div>
      </div>
    </div>

 <% end %>
