
<div class="row">
  <div class="col-xs-3">
    <h3> <b>Number of possibilities - theory : </b><%= @compute_solution.nb_possibilities_theory %></h2>
    <h3>Number of iterations : <%= @compute_solution.nb_iterations %></h3>
    <h3>Number of cuts within tree : <%= @compute_solution.nb_cuts_within_tree %></h3>
    <h3>%tree covered : <%= number_to_percentage((@compute_solution.nb_iterations.to_f / @compute_solution.nb_possibilities_theory)*100, precision: 2) %></h3>
  </div>
    <div class="col-xs-9">
      <!-- creation du tableau -->
      <div class="col-xs-12" style="text-align: center;">
      <!-- en-têtes -->
        <div class="row" style="border-bottom-style: solid; border-bottom-color: $myblue; background-color: grey; color: white;text-align: center;">
          <div class="col-xs-1">
            <b>T#</b>
          </div>
          <div class="col-xs-4" style="border-right-color: $mylightblue; border-right-style: solid;">
            <b>What</b>
          </div>
          <div class="col-xs-2">
            <b>Timestamp</b>
          </div>
          <div class="col-xs-2">
            <b>Length (sec)</b>
          </div>
          <div class="col-xs-2">
            <b>Length//start(sec)</b>
          </div>
          <div class="col-xs-1">
            <b>%Total length</b>
          </div>
        </div>

        <!-- création des lignes -->
        <% i = 0 %>
        <% @timestamps.each do |timestamp| %>
          <div class="row" style="border-bottom-style: dashed; border-bottom-color: $myblue;">
            <div class="col-xs-1 machin" style="border: 3px solid $myblue;">
              <%= timestamp[0] %>
            </div>
            <div class="col-xs-4" style="border-right-color: $mylightblue; border-right-style: solid;">
              <%= @infos[i] %>
            </div>
            <div class="col-xs-2">
              <!-- timestamp -->
              <%= timestamp[1].strftime("%k:%M:%S:%L") %>
            </div>
            <div class="col-xs-2">
              <!-- durée avec l'étape précédente -->
              <% if i != 0  %>
                <!-- si diff in seconds = 0 -->
                <% if timestamp[1] - @timestamps[-1][1] == 0 %>
                  <% b = timestamp[1].strftime("%L").to_i - @timestamps[i-1][1].strftime("%L").to_i %>
                  <%= "0." + b.round(4).to_s %>
                  <% durée = b/1000 %>
                <% else %>
                  <%= (timestamp[1] - @timestamps[i-1][1]).round(4) %>
                  <% durée =  timestamp[1] - @timestamps[i-1][1] %>
                <% end %>
              <% end %>
            </div>
            <div class="col-xs-2" style="border: 1px solid $myblue;">
              <!-- durée // start -->
              <% if i != 0  %>
                <!-- si diff en seconds = 0 => calculate diff in milliseconds -->
                <% if timestamp[1] - @timestamps[0][1] == 0 %>
                  <% a = timestamp[1].strftime("%L").to_i -  @timestamps[0][1].strftime("%L").to_i %>
                  <%= "0." + a.round(4).to_s %>
                <% else %>
                  <%= (timestamp[1] - @timestamps[0][1]).round(4) %>
                <% end %>
              <% end %>
            </div>
            <div class="col-xs-1" style="border: 1px solid $myblue;">
              <!-- %durée totale -->
              <% if i != 0  %>
                <% if @compute_solution.calculation_length.nil? %>
                  no total length
                <% else %>
                  <%= number_to_percentage((durée / @compute_solution.calculation_length.to_f)*100, precision: 3) %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>
</div>
