
  <div class="row">
    <% @user.roles.each do |role| %>
      <button class="btn" style="width: 130px; margin: 5px; border-color: $mygrey; background-color: <%=  role.color.hexadecimal_code %>; border-radius: 6px; <%= background_text_color_role(role)%>"> <%= role.name.capitalize %> </button>
      <% end %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>

<div class="row">
  <a class="btn btn-action change-color">Demande de congés</a>
  <a class="btn btn-action change-color">Ajout de préférences</a>
</div>

<div class="row">

    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          <%= @user.email %> <br>
        </li>
        <li class="list-group-item justify-content-between">
          +33 6 89 90 95 26<br>
        </li>
        <li class="list-group-item justify-content-between">
          Contrat :
          <span class="badge badge-default badge-pill"><%= @user.working_hours %>h/semaine</span>
        </li>
      </ul>
    </div>



    <div class="col-xs-4">

      <li class="list-group-item justify-content-between">
        Jours de congés en cours de validation :
        <span class="badge badge-default badge-orange">25</span>
      </li>
      <li class="list-group-item justify-content-between">
        Jours de congés pris
        <span class="badge badge-default badge-pill">25</span>
      </li>
    </div>

    <div class="col-xs-4">
      <li class="list-group-item justify-content-between">
        Dernière connexion :
        <span class="badge badge-default badge-pill">
          <%= @user.last_sign_in_at.strftime("%D %R") %>
        </span>
      </li>
    </div>

</div>

<div class="row">
</div>


