<div>
  <ul class="metier-list list-inline">
    <% @user.roles.each do |role| %>
      <li class="mr+" style="background-color: <%=  role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>"> <%= role.name.capitalize %>
      </li>
      <% if current_user.is_owner %>
        <i class="fa fa-minus-square delete-role <%= "user"+@user.id.to_s %> <%= "roleuser"+RoleUser.find_by(user_id: @user.id, role_id: role.id).id.to_s %> <%= "role"+role.id.to_s %> pointer mr+ fa_with_bg" aria-hidden="true">
        </i>
      <% end %>
    <% end %>
      <% if @user.roles.count != Role.all.count && current_user.is_owner %>
        <i class="fa fa-plus-square fa_with_bg pointer mr-" aria-hidden="true"></i>
      <% end %>
  </ul>
</div>

<div class="modal fade modal-role-user modal-events" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Ajouter un rôle</h4>
    </div>
    <div class="modal-body">
        <%= render 'role_users/form', user: @user%>
    </div>
  </div>
</div>

<div class="modal fade modal-edit-working-hours modal-events" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Modifier</h4>
    </div>
    <div class="modal-body">
        <%= render 'users/edit_working_hours' %>
    </div>
  </div>
</div>

<div class="modal fade modal-update-constraint modal-events" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Modifier une contrainte</h4>
    </div>
    <div class="modal-body">
        <%= render 'constraints/form' %>
    </div>
  </div>
</div>

<div class="modal fade modal-update-profile-picture modal-events" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Modifier la photo</h4>
    </div>
    <div class="modal-body">
        <%= render 'users/form_profile_picture', resource: @user %>
    </div>
  </div>
</div>

<div class="row user_details">

    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          <div class="col-xs-8">
            <%= @user.email %> <br>
          </div>
          <div class="col-xs-4">
              <span class="fa fa-pencil modify-profile pointer" data-input="user_email"></span>
          </div>
          <br>
        </li>
        <li class="list-group-item justify-content-between">
          +33 6 89 90 95 26<br>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="col-xs-4">
            Contrat :
          </div>
          <div class="col-xs-4">
            <span class="badge badge-default badge-pill"><%= @user.working_hours %>h/semaine</span>
          </div>
          <% if current_user.is_owner %>
            <div class="col-xs-4">
              <span class="fa fa-pencil modify-profile pointer" data-input="user_working_hours"></span>
            </div>
          <% end %>
          <br>
        </li>
      </ul>
    </div>

    <div class="col-xs-4">

      <li class="list-group-item justify-content-between">
        Jours de congés en cours de validation :
        <span class="badge badge-default badge-orange">25</span>
      </li>
      <li class="list-group-item justify-content-between">
        Jours de congés pris
        <span class="badge badge-default badge-pill">25</span>
      </li>
    </div>

    <div class="col-xs-4">
      <li class="list-group-item justify-content-between">
        Dernière connexion :
        <span class="badge badge-default badge-pill">
        <% unless @user.last_sign_in_at.nil? %>
          <%= @user.last_sign_in_at.strftime("%D %R") %>
        <% else %>
          Ne s'est jamais connecté
        <% end %>
        </span>
      </li>
    </div>

</div>

<div class="row">
</div>


