<%= render 'shared/usersteps', locals: {user: @user} %>
<h1>User key information</h1>

<ul>
    <%= @user.email %> <br>
    Contract: <%= @user.working_hours %>h/week <br>
    Total days off (2017): 12 <br>
    Remaing: 25 <br>
    <% @user.roles.each do |role| %>
    <button class="btn" style="margin: 5px; border-color: grey; background-color: <%= role.role_color %>; border-radius: 6px;"> <%= role.name %> </button>
    <% end %>
</ul>
