
<div class="col-xs-1">
  <%= avatar_with_border_color(@user) %>
</div>
<div class="col-xs-11">
  <h1> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
</div>
<%= render "user_infos" %>
<%= render "html_constraints_cal" %>
