<div class="card" style="background-color: #FD8851; ">
  <div class="card-category" >
    <p>Week : <%= @planning.week_number %></p>
    <p><%= parse_week_number(@planning) %></p>
  </div>
</div>

<div class="col-xs-offset-1 col-xs-10">
  <div class="row steps">
    <div class="col-xs-4 step completed">
        <div class="step-num text-center">Etape 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <%= link_to "", planning_skeleton_path(@planning), class: "dot" %>
        <div class="comment text-center">Vos besoins de la semaine</div>
    </div>
    <div class="col-xs-4 step active">
        <div class="step-num text-center">Etape 2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <%= link_to "", planning_skeleton_path(@planning), class: "dot" %>
        <div class="comment text-center">Votre équipe pour la semaine</div>
    </div>
    <div class="col-xs-4 step disabled">
        <div class="step-num text-center">Etape 3</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <%= link_to "", planning_skeleton_path(@planning), class: "dot" %>
        <div class="comment text-center">Votre planning</div>
    </div>
  </div>
</div>





