<%= simple_form_for [@role_user], :url => user_role_users_path(@user), :method => :post do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <ul style="list-style-type: none; padding: 0px;">
      <% @unallocated_roles.each do |role| %>
      <li>
        <div class="col-xs-3 role metier" id=<%= role.id %> style="background-color: <%= role.color.hexadecimal_code%>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
            <%= role.name %>
            <%= check_box_tag "role_ids[]", role.id, false, class:"hide", required: true %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group button-group">
          <%= f.submit "Valider", class: "mybtn mybtn--medium create_constraint", format: :js, :html => {:remote => true } %>
      </div>
    </div>
  </div>
<% end %>
