<div class="container-fluid banner-container">
  <h1 class="text">Créez votre
  <br>Planning !</h1>
  <a href="" class="btn btn-primary btn-home">Connexion</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img src="" alt="">
      <h2>blabla</h2>
      <p>kjsdh sdfh sdkfjhs dkfjhsdk fksdf </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="" alt="">
      <h2>blabla</h2>
      <p>kjsdh sdfh sdkfjhs dkfjhsdk fksdf </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="" alt="">
      <h2>blabla</h2>
      <p>kjsdh sdfh sdkfjhs dkfjhsdk fksdf </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

