<div class="container-fluid banner-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
       <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1 class = "text">Gerez vos plannings.</h1>
          <h2>Définissez vos besoins, on s'occupe du reste.</h2>
          <hr class="intro-divider">

            <a href="#sign_in_container" class="form-actions btn-primary btn">Connexion</a>
        </div>
      </div>
    </header>
     </div>
   </div>
 </div>

 <section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Etape 1</h2>
        <p class="lead">Créez la structure de votre planning</p>
      </div>
      <div class="col-lg-5 mr-auto">

      </div>
    </div>

  </div>
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Etape 2</h2>
        <p class="lead">Assignez les collaborateurs dont vous avez besoins.</p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">

      </div>
    </div>

  </div>
</section>

<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Etape 3</h2>
        <p class="lead">Vos collaborateurs rentrent leurs disponibiltés.</p>
      </div>
      <div class="col-lg-5 mr-auto">

      </div>
    </div>

  </div>
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Etape 4</h2>
        <p class="lead">Ca plan pour moi s’occupe de créer votre planning </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">

      </div>
    </div>

  </div>
</section>

<div class="container" id="sign_in_container">

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-background">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <p>Se connecter</p>
          <%= f.input :email, label: false, required: false, placeholder: "Email" %>
          <%= f.input :password, label: false, required: false, placeholder: "Mot de passe" %>
          <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        </div>
        <%= f.button :submit, "Connexion", class: "form-actions btn-primary btn-home btn-block " %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>




<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
