<div class="col-xs-12">
<%= simple_form_for @role do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, placeholder: "Nom", label: false %>
  <!-- tableau pour sélectionner parmi les couleur existantes -->
  <table style="col-xs-12">
    <%= Color.all.map(&:hexadecimal_code).each do |hex_code| %>
      <th style= "background-color: <%= hex_code %> ">
      </th>
    <% end %>
  </table>
  <!-- dernière ligne = choose other color -->

  <!-- possibilité de créer ses propres couleurs -->
  <h2>Create your own color</h2>
  <div class="add-color"></div>


  <%= f.submit "Valider", class: "btn btn-success" %>
<% end %>
</div>
