<h1>Créer un role</h1>

<%= simple_form_for @role do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, placeholder: "Nom", label: false %>
  <%= f.input :role_color, placeholder: "#2F9716", label: false, collection: @color_collection%>
  <%= f.submit "Valider", class: "btn btn-success" %>
<% end %>
<br>
<%= link_to 'Back', root_path, :class => "btn"  %>
