<div class="wrap-plan mt+" >


  <% unless @solution.nil? %>
    <div class="row">
      <div class="col-xs-12 col-sm-2 flex-col">
        <h3>Légende</h3>
        <div class="mb++">
          <% @roles.each do |role| %>
          <div class="role-tag text-center" style="background-color: <%= role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
            <%= role.name.capitalize %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= javascript_include_tag "components/calendar-conflicts" %>
<%= content_for(:after_js) do %>

  <script>
    var events = '<%= resultevents_planning_path(@planning.id, solution_id: @solution.id, format: :json) %>';
    var defaultDate = "<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>";
    modifyCalendar(events, defaultDate);
  </script>
<% end %>
