<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


</head>


<body>

<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="container" id="general-container">
  <%= yield %>
</div>

  <%= javascript_include_tag 'application' %>

  <%= render 'shared/footer' %>

  <%= cloudinary_js_config %>
  <%= yield :after_js %>

</body>
</html>

