<%= simple_form_for [@planning] do |f| %>
  <%= f.error_notification %>
      <% @plannings.each do |planning| %>
          <div class="col-xs-3 boxes">
          <%= link_to planning_use_template_path(@planning, planning.id), method: :get do %>
            <div class="" style="text-align: center;">
            S<%= planning.week_number %> - <%= planning.end_date.year %><br>
            <p> <%= planning.start_date.day %>-<%= planning.end_date.day %> <%= planning.end_date.strftime("%b") %> </p>
            </div>
          <% end %>
        </div>
      <% end  %>
  <% end %>
