<div class="col-xs-12">

  <form action="/use_template" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row">
      <% @plannings.each do |planning| %>
        <div class="col-xs-12 col-sm-4 planning-block" >
          <h4>S<%= planning.week_number %></h4><p><%= planning.start_date.day %>-<%= planning.end_date.day %>/<%= planning.end_date.month %>/<%= planning.end_date.year %></p>
          <% planning.hours_per_role.each do |role_id_symbol, hours| %>
            <span class="role-name" style="background-color: <%= background_color_of_role(role_id_symbol.to_s.to_i) %>; <%= role_text_color(role_id_symbol.to_s.to_i) %>"> <%= Role.find(role_id_symbol.to_s.to_i).name %></span> : <%= hours %> <br>
          <% end %>
        </div>
      <% end %>
      <%= link_to "Valider", planning_use_template_path, class: "btn-success"%>
    </div>

  </form>

</div>

