<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url, solution: @solution} %>

<div class="wrap-plan" >

  <div class="modal fade modal-reassignment" tabindex="-1" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Slot - Autres possibilités d'affectation</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>

  <% unless @solution.nil? %>
      <div class="row spacing">
      <ul class="list-inline dragndrop-metiers">
        <% @slot_templates.each do |slot| %>
          <li style="background-color: <%= slot.role.color.hexadecimal_code %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12 le_calendrier">
          <div id = "calendar">
        </div>
      </div>
    </div>
  <% end %>

</div>

<!-- ___________________________ JS __________________________________ -->
  <%= content_for(:after_js) do %>
    <script>

      var events = '<%= resultevents_planning_path(@planning.id, solution_id: @solution.id, format: :json) %>';
      var defaultDate = "<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>";

      var modalContent = document.querySelector(".modal-content");
      var modalPosition = function(modal, position) {
        modal.style.setProperty('--postop', position -300 + "px");
      }


      $('#calendar').fullCalendar({
        //calendar attributes
        header: {
          left: 'prev, next',
          center: '', //title
          right: 'agendaWeek,agendaDay',
        },
        themeSystem: 'bootstrap3',
        allDaySlot: false,
        locale: "fr",
        editable: true, // events on the calendar can be modified
        droppable: true, // allows things to be dropped onto the calendar
        selectable: true,
        minTime: "07:00:00", // starting time, even when scrolled all the way up
        maxTime: "22:00:00",
        defaultView: "agendaWeek",
        hiddenDays: [ 0], // hider dimanche
        height: "auto", // implique pas de scroll à l'intérieur du calendrier
        aspectRatio: 4,
        defaultDate: defaultDate,
        events: events,

        eventClick: function( calEvent, jsEvent, view) {
          modalPosition(modalContent, jsEvent.clientY);
          $('.reassign-solution_slot').unbind();
          $(this).css('border-color', 'red');
          $(this).css('border-width', 'thick');

          // refectch events when modal is closed => no more red border-color
          $(".modal-reassignment").on("hidden.bs.modal", function () {
            $('#calendar').fullCalendar( 'refetchEvents' );
          });

          var solution_slot_id = calEvent.solution_slot_id.id;
          // get variables
          var planning_id = calEvent.planning_id;
          console.log("planning id = " + planning_id);

          //when clicking on a slot, ajax request to solution_slots#edit
          var build_url = "/plannings/" + planning_id + "/solution_slots/" + solution_slot_id + "/edit";
              // requete vers edit du solution slot
          $.ajax({
            url: build_url,
            // data: solution_slot_data,
            format: 'js',
            type: 'GET',
            success: function(data) {
               $('.modal-body').html(data);
               $(".modal-reassignment").modal('show');
               $('.reassign-solution_slot').unbind();
            },
            error: function(jqXHR) {
              console.log("ajax echec - GET de edit solution_slot");
              console.log(jqXHR.responseText);
            }
          }); // fin ajax request

        }, // fin de eventClick


        eventRender: function(event, element) {
          element.find('.fc-title').html("<br/>" + "<img src= "+event.picture+" alt='' style='border-radius:60px;' >");
        }

      });


    function show_image(src, width, height, alt) {
        var img = document.createElement("img");
        img.src = src;
        img.width = width;
        img.height = height;
        img.alt = alt;
      }

    </script>

  <% end %>
