<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url, solution: @solution} %>

<div class="wrap-plan" >

  <div class="modal fade modal-reassignment" tabindex="-1" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Slot - Autres possibilités d'affectation</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>

  <% unless @solution.nil? %>
    <div class="row">
      <div class="col-xs-12 col-sm-2 flex-col">
        <h3>Légende</h3>
        <div class="mb++">
          <% @roles.each do |role| %>
          <div class="role-tag text-center" style="background-color: <%= role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
            <%= role.name.capitalize %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>
  <% end %>

</div>


<!-- JS part not involving fullcalendar is in slots.js -->
<%= javascript_include_tag "components/calendar-conflicts" %>
<%= content_for(:after_js) do %>

  <script>
    var events = '<%= resultevents_planning_path(@planning.id, solution_id: @solution.id, format: :json) %>';
    var defaultDate = "<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>";
    modifyCalendar(events, defaultDate);
  </script>
<% end %>
