<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

<div class="wrap-plan" >
  <div class="row">
    <div class="col-xs-9">
      <div class="triangle" style= "left:<%= @triangle_position %>" ></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-7" id="slot_form" style="height=400px; padding: 20px;"></div>
  </div>
    <div class="row spacing">
    <ul class="list-inline dragndrop-metiers">
      <% @slot_templates.each do |slot| %>
        <li style="background-color: <%= slot.role.role_color %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 le_calendrier">
      <div id = "calendar">
      </div>
    </div>
  </div>
</div>

<div class="col-md-8 col-lg-8 col-xs-12">
  <% if not @slotgroups_calcul_array.nil?  %>
  <% @slotgroups_calcul_array.each do |slotgroup| %>
      <ul><b>SLOTGROUP_ID: <%= slotgroup.id %> </b> </ul>
      <li> start_at: <%= slotgroup.start_at %> </li>
      <li> end_at: <%= slotgroup.end_at %> </li>
      <li> role_id: <%= slotgroup.role_id %> </li>
      <li>role_name: <%= slotgroup.role_name %> </li>
      <li>planning_id: <%= slotgroup.planning_id %> </li>
      <li> nb_required: <%= slotgroup.nb_required %> </li>
      <li> nb available: <%= slotgroup.nb_available %> </li>
      <li> list_available_users: <%= slotgroup.list_available_users %> </li>
      <li> simulation_status: <%= slotgroup.simulation_status %> </li>
      <li> slots_to_simulate: <%= slotgroup.slots_to_simulate %> </li>
      <li> overlaps: <%= slotgroup.overlaps %> </li>
      <li> combinations_of_available_users: <%= slotgroup.combinations_of_available_users %> </li>
      <li> nb_combinations_of_available_users: <%= slotgroup.nb_combinations_available_users %></li>
      <li> priority: <%= slotgroup.priority %> </li>
      <li> ranking_algo: <%= slotgroup.ranking_algo %> </li>
      <li> calculation_interval: <%= slotgroup.calculation_interval %> <br></li>
    <% end %>
    <% end %>
</div>
<br><br>
<div class="col-md-8 col-lg-8 col-xs-12">
  <% if not @slots_calcul_array.nil?  %>
  <% @slots_calcul_array.each do |slot| %>
  <div class="col-xs-12">
      <ul><b> SLOT_SIMULATION: <%= slot[:slot_instance] %> </b> </ul>
      <li> simulation_status: <%= slot[:simulation_status] %> </li>
      <li> slotgroup_id: <%= slot[:slotgroup_id] %> </li>
    </div>
    <% end %>
    <% end %>
</div>
<br><br>
<!-- ___________________________ JS __________________________________ -->

<%= content_for(:after_js) do %>
<script>
    // hide slot form
    $("#slot_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
    });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
  </script>
  <!-- enable bootstrap in simple form -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();
    });
  </script>
  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: 'prev, next',
        center: '', //title
        right: 'agendaWeek,agendaDay',
      },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      aspectRatio: 4,
      events: '<%= events_planning_path(@planning.id, format: :json) %>',

      // simulation résolution conflit
      eventClick: function(calEvent, jsEvent, view) {
        // récupérer l'id de l'event que l'on clique + planning id
        var id_slot = calEvent.id // contient id du slot cliqué
        var planning_id = calEvent.planning_id // contient planning_id du slot cliqué
        // 1 Requête Ajax: plannings/:id/slots/:id/edit.  > pour injecter event id + planning id dans la requete ajax ==> use react, cf https://karr.lewagon.com/lectures/rails/react#/4/2
        $.ajax({
          type: "GET",
          url: Routes.edit_planning_slot_path(planning_id, id_slot,  { format: 'js' } ),
          success: function(data) {
            console.log("ok");
            console.log(calEvent);
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
            console.log("nok");
          }
        });
      },

      eventRender: function(event, element) {
        console.log("here");
        console.log(event);
        element.find('.fc-title').html("<br/>" + "<img src= "+event.picture+" alt='' style='border-radius:60px;' >");
      }
    });

    function show_image(src, width, height, alt) {
      var img = document.createElement("img");
      img.src = src;
      img.width = width;
      img.height = height;
      img.alt = alt;
    }

  </script>
  <% end %>


  <style>
  .skeleton {
    height: 800px;
  }
  /*override le theme par defaut*/
  /*noms des jours*/
  .fc-day-header {
    color: $mygrey;
    font-family: "Oswald";
    font-size: 20px;
  }
  .fc th, .fc td  {
    border-style: none;
    padding: 2px;
    border-width: 3px;
  }
  /* border des events*/
  .fc-time-grid-event {
    border-radius: 10px;
    border-width:0px;
    box-shadow: 0px 0px 3.5px -1px white inset;
    padding:2px;
    padding-top: 7px;
    padding: 3px;
  }
  /* axe y*/
  .fc-axis .fc-time .fc-widget-content {
    color: $mygrey;
    font-family: "Oswald";
    font-weight: 400;
  }
  /*nom du role dans l'event*/
  .fc-title{
   font-family: "Robot";
   font-size: 12px;
   font-weight: 300;
 }
 /* active week/day button*/
 .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{
  color: white;
  font-family: "Robot";
}

.fc-button {
  box-shadow: none;
  font-weight: 400;
  letter-spacing: 1.2px ;
  text-shadow:none;
  background-image: none;
  width:70px;

}
.fc-button-group {
  font-family: "Robot";
  font-size: 13px;
}

/*bouton month*/
.fc-month-button {
  width: 90px;
}
.fc-state-active {
  background-color: #191654;
  color: white;
}

/*bouton week*/
.fc-agendaWeek-button {
  width: 90px;
}

.fc-state-active {
  background-color: #191654;
  color: white;
}

</style>
