<div id="planning-list" class="frame">
  <ul class="slidee">
    <% @plannings.each do |planning| %>
      <li class="<%= planning_slide_class(planning)%>">
         <%= link_to planning_skeleton_path(planning) do %>
          <%= planning_slide_label(planning) %>
        <% end %>
        <p> <%= planning.status %> </p>
      </li>
    <% end %>
  </ul>
</div>


<div class="user-list">
<h2>users</h2>

<%= link_to 'create_user', new_user_registration_path  %>
<br>
<% @users.each do |user| %>
  <p><%= user.email %></p>
  <% end %>
</div>


<div class="role-list">
<h2>roles</h2>

<%= link_to 'create new role', new_role_path %>
<br>
<ul>
<% @roles.each do |role| %>
    <li> <%= role.name %> couleur : <%= role.role_color %> </li>
  <% end %>
  </ul>

</div>

