
<div id="planning-list" class="frame">
  <ul class="slidee">
    <% @plannings.each do |planning| %>
      <li class="<%= planning_slide_class(planning)%>">
         <%= planning_link(planning) %>
         <br>
        <p> <%= planning.status %> </p>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-xs-9">
    <h2>
      <i class="fa fa-users" aria-hidden="true"></i>   Mes Ressources
    </h2>
    <div class="user-list">
      <div class="col-xs-2">
        <i class="fa fa-plus add-user-card user-avatar-index" aria-hidden="true"></i>
      </div>
      <% @users.each do |user| %>
        <div class="col-xs-2">
         <%= avatar_with_border_color(user) %>
          <p><%= link_to user.first_name.capitalize, user_path(user) %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="role-list">
      <h2>Mes Roles</h2>
      <br>
      <ul>
      <%= link_to 'Create new role', new_role_path , :class=> "btn btn-info" %>
        <br><br>
        <%  @slot_templates.each do |slot| %>
        <button class="btn" style="margin: 5px; border-color: grey; background-color: <%= Role.find_by_id(slot.role_id).role_color %>; border-radius: 6px;"> <%= slot.role.name %> </button>
        <% end %>
      </ul>
    </div>
  </div>
</div>
