<div class="wraper">
  <h2>
    <i class="fa fa-calendar" aria-hidden="true"></i>  Plannings
  </h2>
  <div id="planning-list" class="frame">
    <ul class="slidee">
      <% @plannings.each do |planning| %>
      <li class="<%= planning_slide_class(planning)%>">
        <div class="date_range">
          <%= parse_week_number(planning) %>
        </div>
        <div><%= planning_link(planning) %></div>
        <div><p> <%= planning.status %> </p></div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <h2>
        <i class="fa fa-users" aria-hidden="true"></i>  Ressources
      </h2>
      <ul class="user-list list-inline">
        <li >
          <div class="plus-avatar">
            <div class="plus-disc"></div>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>

        </li>
        <% @users.each do |user| %>
        <li id="drag1" draggable="true" ondragstart="drag(event)" ondrop="showmodal()" data-toggle="modal" data-target="#myModalHorizontal" onclick="showmodal">
          <%= link_to user_path(user) do %>
          <%= avatar_with_border_color(user) %>
          <p><%= user.first_name.capitalize%></p>
          <% end %>
        </li>
        <% end %>
      </div>

      <div class="col-xs-3">
        <h2>
          <i class="fa fa-suitcase" aria-hidden="true"></i> Métiers
        </h2>
        <div class="col-xs-12">

          <%= link_to 'Ajouter un nouveau métier', new_role_path , :class=> "btn btn-info" %>
          <%  @slot_templates.each do |slot| %>
          <button class="btn" style="margin: 5px; border-color: grey; background-color: <%= Role.find_by_id(slot.role_id).role_color %>; border-radius: 6px;"> <%= slot.role.name %> </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
