<h1>Planning : <%= @planning.id %></h1>

<div class="skeleton">
  <h2>Planning skeleton</h2>
  <h3>slots</h3>

  <%  @slots.last(5).each do |slot| %>
    <p># <%= slot.id %>, début : <%= slot.start_at %> / fin :<%= slot.end_at  %></p>
  <% end %>


  <h3>create new slot</h3>

<p>Slot templates</p>

<%  @slot_templates.each do |slot| %>
  <button class="btn"> <%= slot.role.name %> </button>
<% end %>


<p>Slot create</p>
<%= simple_form_for [@planning, @slot] do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_at, placeholder: "Début", label: false %>
  <%= f.input :end_at, placeholder: "Fin", label: false %>
  <%= f.input :role_id, placeholder: "Role", label: false, collection: fetch_roles  %>
  <%= f.submit "Valider", class: "btn btn-success" %>
<% end %>

<%= link_to "Next", edit_planning_path(@planning) %>
</div>

<div class="assign-users">
  <h2>Assign users</h2>

</div>

