  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan" >
    <div class="row">
      <div class="col-xs-9">
        <div class="triangle" style= "left:<%= @triangle_position %>" ></div>
      </div>
    </div>
    <div class="row tamere">
      <div class="slot_form">
        <%= render 'slots/form', locals: {planning: @planning, slot: @slot} %>
      </div>
    </div>

    <div class="row spacing">
      <ul class="list-inline dragndrop-metiers">
        <% @slot_templates.each do |slot| %>
        <li style="background-color: <%= slot.role.role_color %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>
  </div>

<!--  _______________________ CSS Calendar specific skeleton ___________________________ -->

<style>
  /* ne pas montrer le title de l'event*/
 .fc-title {
   display: none;
 }
</style>

<!-- ___________________________ JS __________________________________ -->

<!-- JS part not involving fullcalendar is in calendar.js -->

<%= content_for(:after_js) do %>
<script type="text/javascript">

  $('#calendar').fullCalendar({
    //calendar attributes
    header: {
      left: 'prev, next',
      center: '', //title
      right: 'agendaWeek,agendaDay',
    },
    themeSystem: 'bootstrap3',
    allDaySlot: false,
    locale: "fr",
    editable: true, // events on the calendar can be modified
    droppable: true, // allows things to be dropped onto the calendar
    selectable: true,
    eventLimit: true,
    minTime: "07:00:00", // starting time, even when scrolled all the way up
    maxTime: "22:00:00",
    defaultView: "agendaWeek",
    defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
    hiddenDays: [ 0], // hider dimanche
    height: "auto", // implique pas de scroll à l'intérieur du calendrier
    aspectRatio: 4,
    events: '<%= events_planning_path(@planning.id, format: :json) %>',
    // what happens when we select a time period on the calendar
    select: function( start, end, jsEvent, view ) {

      $(".slot_form").show();
      $('.create_slot').prop('disabled', false);
      // get form to create a new slot
      var planning_id = <%= @planning.id %>;
      // set default value of the date inputs (inside simple form)
      $('#datetimepicker1 .form-control').val(new Date(start.format()).toLocaleDateString('fr-FR', {timezone: 'UTC', hour: '2-digit', minute: '2-digit'}));
      $('#datetimepicker1').datetimepicker({
        locale: 'FR'
       });
      $('#datetimepicker2 .form-control').val(new Date(end.format()).toLocaleDateString('fr-FR', {timezone: 'UTC', hour: '2-digit', minute: '2-digit'}));
      $('#datetimepicker2').datetimepicker({
        locale: 'FR'
       });
      //behavior of days sélection
      $('input:checkbox').each(function(){
        $(this)[0].disabled= false;
        $(this)[0].checked= false;
      });
      $('.daysbox').removeClass('checked unselectable');
      var date = (new Date(end.format()).getDay());
      $('input:checkbox[value='+date+']')[0].disabled= true;
      $('input:checkbox[value='+date+']').parent().parent().addClass('unselectable');
    },

    eventDrop: function(event, delat, revertFunc){
      var planning_id = <%= @planning.id %>;
      var slot_id = event.id;
      var build_url = "/plannings/" + planning_id + "/slots/" + slot_id;
      var slot_role_name = event.title;
      console.log(event.role_id);
       event_data = {
        slot: {
            id: slot_id,
            role_id: event.role_id,
            start: event.start.format(),
            end: event.end.format(),
            start_at: event.start.format(),
            end_at: event.end.format()
          }
      };
      $.ajax({
        url: build_url,
        data: event_data,
        type: 'PATCH'
      });

    },

    eventResize: function( event, delta, revertFunc, jsEvent, ui, view ) {
      var planning_id = <%= @planning.id %>;
      var slot_id = event.id;
      var build_url = "/plannings/" + planning_id + "/slots/" + slot_id;
      var slot_role_name = event.title;
       event_data = {
        slot: {
            id: slot_id,
            role_id: event.role_id,
            start: event.start.format(),
            end: event.end.format(),
            start_at: event.start.format(),
            end_at: event.end.format()
          }
      };
      $.ajax({
        url: build_url,
        data: event_data,
        type: 'PATCH'
      });
     },

    eventClick: function( calEvent, jsEvent, view) {
      $(this).css('border-color', 'red');
      $(this).css('border-width', 'thick');
      $(".slot_form").show();
      // $('.create_slot').prop('disabled', true); // disable le bouton Valider du slot_form
      $('.create_slot').hide();
      // get variables
      var planning_id = <%= @planning.id %>;
      var slot_id = calEvent.id;
      var role_id = calEvent.role_id;
      var start_date = new Date(calEvent.start.format());
      var start_date = new Date(start_date.setHours(start_date.getHours() ));
      var end_date = new Date(calEvent.end.format());
      var end_date = new Date(end_date.setHours(end_date.getHours() ));
      // set default values to the form
      $('#datetimepicker1 .form-control').val(start_date.toLocaleDateString('fr-FR', {timezone: 'UTC', hour: '2-digit', minute: '2-digit'}));
      $("#datetimepicker1").datetimepicker({
        locale: 'FR'
      });
      $('#datetimepicker2 .form-control').val(end_date.toLocaleDateString('fr-FR', {timezone: 'UTC', hour: '2-digit', minute: '2-digit'}));
      $("#datetimepicker2").datetimepicker({
        locale: 'FR'
      });
      $('#slot_role_id').val(role_id);
      // Ajax request to delete a slot
      var build_url = "/plannings/" + planning_id + "/slots/" + slot_id;
      $(".update_slot").click( function(){

      });
      $(".delete_slot").click( function (){
        $.ajax({
          type: "DELETE",
          url: build_url,
          format: 'js',
          success: function(data) {
            console.log(Event);
            // recharger la page
            location.reload();
          },
          error: function(jqXHR) {
            console.log("ajax echec");
            console.log(jqXHR.responseText);
            location.reload();
          }
        });
      });
    }
  });

  </script>
  <% end %>

