  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan" >
    <div class="row">
      <div class="col-xs-9">
        <div class="triangle" style= "left:<%= @triangle_position %>" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 slot_form">
        <p>Create a slot</p>
        <!-- intégrer du date picker bootstrap dans simple form via gem https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <%= simple_form_for [@planning, @slot] do |f| %>
        <%= f.error_notification %>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input name="slot[start_at]" type='text' value="<%= @slot.start_at %>" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
            <input name="slot[end_at]" type='text' value="<%= @slot.end_at %>" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
        </div>
      </div>
      <%= f.input :role_id, placeholder: "Role", label: false, collection: fetch_roles  %>
      <%= f.submit "Valider", class: "btn btn-success" %>
      <%= f.button :button, "Cancel", type: :reset, class: "btn btn-none cancel-button" %>
      <% end %>
      </div>
      <div class="col-xs-offset-4 col-xs-4 update_form" style="">
      <%= simple_form_for [@planning, @slot], remote: true do |f| %>
        <label for="start_at">Début: </label>
            <input type="datetime" name="" id="update_start">
          <label for="end_at">Fin: </label>
            <input type="datetime" name="" id="update_end">
          <label for="role">Role: </label>
            <input list="roles" id="update_role" autocomplete="on" /></label>
              <datalist id="roles">
                <% @slot_templates.each do |slot| %>
                  <option value= <%= slot.role.name.capitalize %> >
                <% end %>
              </datalist>
           <input type="button" onclick="alert('il faut lancer le CRUD')" value="Mettre à jour">
           <input type="button" value="Annuler" id="update_cancel">
           <input type="button" value="Supprimer" id="delete_slot">
        <% end %>
      </div>
    </div>

    <div class="row spacing">
      <ul class="list-inline dragndrop-metiers">
        <% @slot_templates.each do |slot| %>
        <li style="background-color: <%= slot.role.role_color %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>
  </div>

<!--  _______________________ CSS Calendar ___________________________ -->

<style>

#slot_form {
  margin: 30px;
}

  .skeleton {

    width:inherit;
    height:inherit;
    margin: 0 auto;
}
  .fc-day-header {
    color: $mygrey;
    font-family: "Oswald";
    font-size: 20px;
  }
  .fc th, .fc td  {
    border-style: none;
    padding: 2px;
    border-width: 3px;
  }
  /* border des events*/
  .fc-time-grid-event {
    border-radius: 10px;
    border-width:0px;
    box-shadow: 0px 0px 3.5px -1px white inset;
    padding:2px;
    padding-top: 7px;
    padding: 3px;
  }
  /* axe y*/
  .fc-axis .fc-time .fc-widget-content {
    color: $mygrey;
    font-family: "Oswald";
    font-weight: 400;
  }
  /*nom du role dans l'event*/
  .fc-title{
   font-family: "Robot";
   font-size: 12px;
   font-weight: 300;
 }
 /* active week/day button*/
 .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{
  color: white;
  font-family: "Robot";
}

.fc-button {
  box-shadow: none;
  font-weight: 400;
  letter-spacing: 1.2px ;
  text-shadow:none;
  background-image: none;
  width:70px;

}
.fc-button-group {
  font-family: "Robot";
  font-size: 13px;
}
/*bouton month*/
.fc-month-button {
  width: 90px;
}
.fc-state-active {
  background-color: #191654;
  color: white;
}

/*bouton week*/
.fc-agendaWeek-button {
  width: 90px;
}
/* ne pas montrer le title de l'event*/
.fc-title {
  display: none;
}
</style>

<!-- ___________________________ JS __________________________________ -->

<%= content_for(:after_js) do %>
<script>
    // hide slot form
    $(".slot_form").hide();
    $(".update_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
    });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
    // hide slot_form when clicking on its 'Cancel' button
    $(".cancel-button").click(function(){
      $(".slot_form").hide();
    });
    $("#update_cancel").click(function() {
      $(".update_form").hide();
    });
  </script>


  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: 'prev, next',
        center: '', //title
        right: 'agendaWeek,agendaDay',
      },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      drop: function(date) {
        alert("Dropped on " + date.format());
        console.log("DROPPED!!!!!!!!!!")
      },
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      aspectRatio: 4,
      events: '<%= events_planning_path(@planning.id, format: :json) %>',

      // clic on a day
      dayClick: function(date, jsEvent, view) {
        // affiche l'encart pour entrer un nouveau slot
        $(".slot_form").show();
        var planning_id = <%= @planning.id %>;
        // new Date est une fonction js pour créer une date à partir d'un string
        var a = new Date(date.format());
        // enable + custom bootstrap in simple form
        $('#datetimepicker1').datetimepicker({
          defaultDate: a,
          locale: 'FR'
         });
        $('#datetimepicker2').datetimepicker({
          defaultDate: a.setHours(a.getHours()+5),
          locale: 'FR'
         });
        // affiche le new de slots --> form
        $.ajax({
          type: "GET",
          url: Routes.new_planning_slot_path( planning_id, { format: 'js' } ),
          success: function(data) {
            console.log(Event);
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
          }
        });
      },
      // what happens when we select a time period on the calendar
      select: function( start, end, jsEvent, view ) {
        $(".slot_form").show();
        var planning_id = <%= @planning.id %>;
        $('#datetimepicker1').datetimepicker({
          defaultDate: start.format(),
          locale: 'FR'
         });
        $('#datetimepicker2').datetimepicker({
          defaultDate: end.format(),
          locale: 'FR'
         });
        $.ajax({
          type: "GET",
          url: Routes.new_planning_slot_path( planning_id, { format: 'js' } ),
          success: function(data) {
            console.log(Event);
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
          }
        });
      },
      eventClick: function( calEvent, jsEvent, view) {
        $(this).css('border-color', 'red');
        $(this).css('border-width', 'thick');
        $(".update_form").show()
        var planning_id = <%= @planning.id %>;
        var slot_id = calEvent.id;
        var role_name = calEvent.title;
        var start_date = new Date(calEvent.start.format());
        var end_date = new Date(calEvent.end.format());
        $("#update_start").val(new Date(start_date.setHours(start_date.getHours() - 1)));
        $("#update_end").val(new Date(end_date.setHours(end_date.getHours() -1 )));
        $("#update_role").val(calEvent.title);
        $("#delete_slot").click( function (){
          var build_url = "/plannings/" + planning_id + "/slots/" + slot_id;
          $.ajax({
            type: "DELETE",
            url: build_url,
            format: 'js',
            success: function(data) {
              console.log(Event);
            },
            error: function(jqXHR) {
              console.log(jqXHR.responseText);
              console.log("ajax echec");
            }
          });
        });
      },
      eventReceive: function( event ) {
        alert('drop received');
      }

    });
  </script>
  <% end %>

