  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan">

    <div class="modal fade modal-events slot_form" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Propriétés du créneau</h4>
        </div>
        <div class="modal-body">
            <%= render 'slots/form', locals: {planning: @planning, slot: @slot} %>
        </div>
      </div>
    </div>

    <div class="modal fade modal-use-template" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Utiliser un template</h4>
        </div>
        <div class="modal-body">
            <%= render 'use_template_form' %>
        </div>
      </div>
    </div>

    <div class="row spacing">
      <span class="badge badge-green use_template">Utiliser template</span>
      <ul class="list-inline dragndrop-metiers">
        <% @slot_templates.each do |slot| %>
        <li style="background-color: <%= slot.role.color.hexadecimal_code %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>

  </div>


<!-- JS part not involving fullcalendar is in slots.js -->
<%= javascript_include_tag "components/calendar" %>
<%= content_for(:after_js) do %>

  <script>
    var events = '<%= events_planning_path(@planning.id, format: :json) %>';
    var defaultDate = "<%= @planning.start_date %>";
    modifyCalendar(events, defaultDate);

    var modalContent = document.querySelector(".modal-content");
    var modalPosition = function(modal, position) {
    modal.style.setProperty('--postop', position -300 + "px");
  }

    $(".use_template").click(function(){
        // modalPosition(modalContent, jsEvent.clientY);
        $(".modal-use-template").modal('show');
      });
  </script>
<% end %>


