<%= render 'shared/planningsteps', locals: {planning: @planning} %>

<div class="skeleton">
  <div class="row">
    <div class="col-xs-4">
      <%  @slot_templates.each do |slot| %>
      <div id="my-draggable" style="margin: 5px; border-color: grey; background-color: <%= Role.find_by_id(slot.role_id).role_color %>; border-radius: 6px;"> <%= slot.role.name %> </div>
      <% end %>
      <div id="external-events my-draggable" class='draggable fc-event' data-event='1' data-duration='03:00'><img src="https://unsplash.it/80/90" alt=""></div>
    </div>
    <div class="col-xs-8" id="slot_form" style="height: 300px;"></div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12">
      <div id = "calendar">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <p>Create a slot</p>
      <!-- intégrer du date picker bootstrap dans simple form via gem https://github.com/Eonasdan/bootstrap-datetimepicker -->
      <%= simple_form_for [@planning, @slot] do |f| %>
      <%= f.error_notification %>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input name="slot[start_at]" type='text' value="<%= @slot.start_at %>" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input name="slot[end_at]" type='text' value="<%= @slot.end_at %>" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
          </span>
        </div>
      </div>

      <%= f.submit "Valider", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <style>
  /*override le theme par defaut*/
  /*noms des jours*/
  .fc-day-header {
    color: #516568;
    font-family: "Raleway";
    font-size: 28px;
    }
  /* contenu des colonnes*/
  .fc th, .fc td  {
    border-style: none;
    padding: 2px;
    border-width: 3px;
    }
  /* axe y*/
  .fc-axis .fc-time .fc-widget-content {
    color: #516568;
    font-family: "Raleway";
}
  /*nom du role dans l'event*/
  .fc-title{
     font-family: "Raleway";
     font-size: 12px;
  }
  /*bouton week/day*/
  .fc-agendaWeek-button .fc-button .fc-state-default .fc-corner-left .fc-state-active {
    color: white;
    font-family: "Raleway";
    background-color: #516568;
    border-color: #516568;

  }

  </style>

  <!-- ___________________________ JS __________________________________ -->

  <%= content_for(:after_js) do %>
  <script>
    // hide slot form
    $("#slot_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
      });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
  </script>
  <!-- enable bootstrap in simple form -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();
    });
  </script>
  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: '',
        center: '', //title
        right: 'agendaWeek,agendaDay',
              },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      drop: function(date) {
        alert("Dropped on " + date.format());
        console.log("DROPPED!!!!!!!!!!")
    },
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      // events: <%= raw @slots_array.to_json %>,
      eventSources: {
        events: <%= raw @slots_array.to_json %>
      },

      // 2. cas où on drag-drop un event déjà existant dans le calendar
      eventDrop: function(event, delta, revertFunc, jsEvent, ui, view ) {
        // récupérer l'id de l'event que l'on droppe
        console.log("event title= " + event.title + "start= " + event.start.format() + "end= " + event.end.format());
        // modified start => event.start.format()
        // modified end  => event.end.format()
        // lors du display du form, il doit préremplir avec ces 2 dates VS les anciennes
      },
      eventResizeStop: function( event, jsEvent, ui, view ) {
        var id_slot = event.id // contient id du slot cliqué
        var planning_id = event.planning_id
        $.ajax({
          type: "GET",
          url: Routes.edit_planning_slot_path(planning_id, id_slot,  { format: 'js' } ),
          success: function(data) {
            console.log("ok");
            console.log(calEvent);
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
            console.log("nok");
          }
        });
      },
      // cas où on clique sur un évènement déjà existant dans le calendar
      eventClick: function(calEvent, jsEvent, view) {
        // récupérer l'id de l'event que l'on clique + planning id
        var id_slot = calEvent.id // contient id du slot cliqué
        var planning_id = calEvent.planning_id // contient planning_id du slot cliqué
        // 1 Requête Ajax: plannings/:id/slots/:id/edit.  > pour injecter event id + planning id dans la requete ajax ==> use react, cf https://karr.lewagon.com/lectures/rails/react#/4/2
        $.ajax({
          type: "GET",
          url: Routes.edit_planning_slot_path(planning_id, id_slot,  { format: 'js' } ),
          success: function(data) {
            console.log("ok");
            console.log(calEvent);
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
            console.log("nok");
          }
        });
        console.log("calEvent2 = "+ calEvent);
      },
      eventReceive: function( event ) {
        alert('drop received');
      }
    });
  </script>
  <% end %>

  <style>
    .h2 {
      color: red;
    }
  </style>
