  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan">

    <div class="modal fade modal-events slot_form" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Propriétés du créneau</h4>
        </div>
        <div class="modal-body">
            <%= render 'slots/form', locals: {planning: @planning, slot: @slot} %>
        </div>
      </div>
    </div>

    <div class="modal fade modal-use-template ui-draggable" tabindex="-1" role="dialog">
      <div class="modal-content this">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Utiliser un template</h4>
        </div>
        <div class="modal-body pl pr">
            <%= render 'use_template_form' %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-2 flex-col">
        <h3>Légende</h3>
        <div class="mb++">
          <% @roles.each do |role| %>
          <div class="role-tag text-center" style="background-color: <%= role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
            <%= role.name.capitalize %>
          </div>
          <% end %>
        </div>
        <h3>Actions</h3>
        <button class="mybtn mybtn--small use_template">Dupliquer</button>
      </div>
      <div class="col-xs-12 col-sm-10 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>

  </div>


<!-- JS part not involving fullcalendar is in slots.js -->
<%= javascript_include_tag "components/calendar" %>
<%= content_for(:after_js) do %>

  <script>
    var events = '<%= events_planning_path(@planning.id, format: :json) %>';
    var defaultDate = "<%= @planning.start_date %>";
    modifyCalendar(events, defaultDate);
  </script>
<% end %>


