  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan" >
    <div class="row">
      <div class="col-xs-9">
        <div class="triangle" style= "left:<%= @triangle_position %>" ></div>
      </div>
    </div>

    <div class="modal fade modal-events slot_form" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Propriétés du créneau</h4>
        </div>
        <div class="modal-body">
            <%= render 'slots/form', locals: {planning: @planning, slot: @slot} %>
        </div>
      </div>
    </div>

  <div class="row spacing">
    <ul class="list-inline dragndrop-metiers">
      <% @slot_templates.each do |slot| %>
      <li style="background-color: <%= slot.role.role_color %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 le_calendrier">
      <div id = "calendar">
      </div>
    </div>
  </div>
</div>


<!-- JS part not involving fullcalendar is in slots.js -->
<%= javascript_include_tag "components/calendar" %>
<%= content_for(:after_js) do %>
  <script>
    var events = '<%= events_planning_path(@planning.id, format: :json) %>';
    var defaultDate = "<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>";
    modifyCalendar(events, defaultDate);
  </script>
<% end %>


