  <%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

  <div class="wrap-plan" >
    <div class="row">
      <div class="col-xs-9">
        <div class="triangle" style= "left:<%= @triangle_position %>" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div id="slot_form" style=""></div>
      </div>
    </div>
    <div class="row spacing">
      <ul class="list-inline dragndrop-metiers">
        <% @slot_templates.each do |slot| %>
        <li style="background-color: <%= slot.role.role_color %>; <%= background_text_color(slot) %>"> <%= slot.role.name.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 le_calendrier">
        <div id = "calendar">
        </div>
      </div>
    </div>
  </div>

<!--  _______________________ CSS Calendar ___________________________ -->

<style>

#slot_form {
  margin: 30px;
}

  .skeleton {

    width:inherit;
    height:inherit;
    margin: 0 auto;
}
  .fc-day-header {
    color: $mygrey;
    font-family: "Oswald";
    font-size: 20px;
  }
  .fc th, .fc td  {
    border-style: none;
    padding: 2px;
    border-width: 3px;
  }
  /* border des events*/
  .fc-time-grid-event {
    border-radius: 10px;
    border-width:0px;
    box-shadow: 0px 0px 3.5px -1px white inset;
    padding:2px;
    padding-top: 7px;
    padding: 3px;
  }
  /* axe y*/
  .fc-axis .fc-time .fc-widget-content {
    color: $mygrey;
    font-family: "Oswald";
    font-weight: 400;
  }
  /*nom du role dans l'event*/
  .fc-title{
   font-family: "Robot";
   font-size: 12px;
   font-weight: 300;
 }
 /* active week/day button*/
 .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{
  color: white;
  font-family: "Robot";
}

.fc-button {
  box-shadow: none;
  font-weight: 400;
  letter-spacing: 1.2px ;
  text-shadow:none;
  background-image: none;
  width:70px;

}
.fc-button-group {
  font-family: "Robot";
  font-size: 13px;
}

.fc-button-group .active {
  background-color: $mygrey;
}
/* ne pas montrer le title de l'event*/
.fc-title {
  display: none;
}
</style>

<!-- ___________________________ JS __________________________________ -->

<%= content_for(:after_js) do %>
<script>
    // hide slot form
    $("#slot_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
    });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
  </script>
  <!-- enable bootstrap in simple form -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();
    });
  </script>
  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: 'prev, next',
        center: '', //title
        right: 'agendaWeek,agendaDay',
      },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      drop: function(date) {
        alert("Dropped on " + date.format());
        console.log("DROPPED!!!!!!!!!!")
      },
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      aspectRatio: 4,
      events: '<%= events_planning_path(@planning.id, format: :json) %>',

      // clic on a day
      dayClick: function(date, jsEvent, view) {
        var planning_id = <%= @planning.id %>;
        // affiche le new de slots --> form
        $.ajax({
          type: "GET",
          url: Routes.new_planning_slot_path( planning_id, { format: 'js' } ),
          success: function(data) {
            console.log("ok");
          },
          error: function(jqXHR) {
            console.log(jqXHR.responseText);
          }
        });
      },

      eventReceive: function( event ) {
        alert('drop received');
      }
    });
  </script>
  <% end %>

