
<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

<div class="wrap-plan" >
  <div class="row">
    <div class="roles-decrement">
    </div>
  </div>

  <div class="row users">
    <%= simple_form_for(@planning, html: { id: "user-submit-form"}) do |f| %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
          <div
          class="card choice <%= @planning.users.include?(user) ? "checked" : "" %> "
          >
            <label>
              <input
              class="checkbox"
              type="checkbox"
              name="planning[user_ids][]"
              value="<%= user.id %>"
              <%= @planning.users.include?(user) ? "checked" : "" %>
              />

                <%= cl_image_tag user.profile_picture.path, class: "picture circle" %>

              <div class="first-name">
                <%= user.first_name.capitalize! %>
              </div>
              <div class="working-hours">
                <%= user.working_hours %> h/semaine
              </div>
              <div class="roles">
                <p class="user-role">
                  <% user.roles.each do |role|  %>
                    <span class="role-name" style=" background-color:<%= role.role_color %>; <%= background_text_color_role(role) %> " >
                      <%= role.name.capitalize %>
                    </span>
                  <% end %>
                </p>
              </div>
            </label>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
    <script>
        $("#user-submit-btn").click(function(event){
          event.preventDefault();

          document.getElementById("user-submit-form").submit();
        });
    </script>

<% end %>


