
<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

<div class="wrap-plan" >
  <div class="row">
    <div class="roles-decrement">
    </div>
  </div>

  <div class="row equal">
    <%= simple_form_for(@planning, html: { id: "user-submit-form"}) do |f| %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 equal">
          <div
          class="users-card-list choice <%= @planning.users.include?(user) ? "checked" : "" %> "
          >
            <label>
              <input
              class="checkbox user-select"
              type="checkbox"
              name="planning[user_ids][]"
              value="<%= user.id %>"
              <%= @planning.users.include?(user) ? "checked" : "" %>
              />

                <%= cl_image_tag user.profile_picture.path, class: "picture circle" %>

              <div class="first-name">
                <%= user.first_name.capitalize! %>
              </div>
              <div class="working-hours">
                <%= user.working_hours %> h/semaine
              </div>
            </label>
            <div class="">
              <% user.roles.each do |role| %>
                <div class="" style="background-color: <%= role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
                  <%= role.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row equal">
  <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-6 col-md-3 equal">
        <div class="users-card-list" style="<%= "opacity: 0.5" if user.invitation_accepted_at.nil?%>" >
          <div class="invitation-status <%= invitation_status(user) %>">
            <div class="status ">
              <% if user.invitation_sent_at.nil? %>
                employé non invité
              <% elsif user.invitation_accepted_at %>
                confirmé le <%= l user.invitation_accepted_at, format: :default_heure %>
              <% else %>
                invité le <%= l user.invitation_sent_at, format: :default_heure %>
              <% end %>
            </div>
            <div class="invite-link <%= "hide" if user.invitation_accepted_at %>">
              <%= link_to "Réinviter", user_reinvite_path(user) %>
            </div>
          </div>
          <div class="content">
            <%= link_to "" ,user_path(user), class:"link" %>
            <div class="title">
              <div class="name">
                <h2><%= "#{user.first_name&.capitalize} #{user.last_name&.capitalize}" %></h2>
                <p>
                  <%= user.email[0, user.email.index('@')]%><wbr><%= user.email[user.email.index('@'), (user.email.length + 1)]%>
                </p>
                <p> user.phone</p>
              </div>
              <%= profile_picture(user) %>
            </div>
            <div class="details">
              <div class="time-contract">
                <%= user.working_hours%>h/semaine
              </div>
              <div class="row">
                <% user.roles.each do |role| %>
                  <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: <%= role.color.hexadecimal_code %>; color: <%= role.color.dark?? "#f2f2f2" : "black" %>">
                    <%= role.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>


<%= content_for(:after_js) do %>
    <script>
        $("#user-submit-btn").click(function(event){
          event.preventDefault();

          document.getElementById("user-submit-form").submit();
        });
    </script>

<% end %>


